.container{
  float:left;
}
.rating > span {
  opacity: .2;
  height: 100%;
  width: 20%;
  z-index: 1;
  font-size: 200%;
  position: relative;
}
.rating span:hover{
  opacity: .5;
}
.selected:after{
  content:'\2605';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}
